@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --custom-color: var(--p-rose-600);
    --c-transparent: transparent;
    --a-color: #ff1d48;
    --icon-size: 25px
}

:root[class="my-app-dark"] {
    --custom-color: #fff;
    --c-transparent: var(--p-zinc-950);
    --bs-white-rgb: 255, 29, 72;


}

[data-bs-theme="dark"] {
    background-color: var(--p-zinc-900) !important;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
    /* outline: solid 1px red; */

}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 160px;
}

#home {
    margin-bottom: 260px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    z-index: -1;
}

.custom-dark {
    background-color: var(--p-zinc-950) !important;
    color: white;
}




/* Dashboard Section */
.h-100vh {
    height: 100vh !important;
}

.w-10 {
    width: 10% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}
.bg-main-color{
    background-color:#ff1d48 !important;
}

.bg-second-color {
    background-color: #c4c3c3 !important;
}

.text-main-color {
    color: #ff1d48 !important;
}

.text-second-color {
    color: #e3e3e3 !important;
}

.btn-main {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff1d48;
    --bs-btn-border-color: #ff1d48;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e1183d;
    --bs-btn-hover-border-color: #e1183d;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e1183d;
    --bs-btn-active-border-color: #e1183d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff1d48;
    --bs-btn-disabled-border-color: #ff1d48;
}
.btn-second {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dddddd;
    --bs-btn-border-color: #c4c3c3;
    --bs-btn-hover-color: #ff1d48;
    --bs-btn-hover-bg: #c4c3c3;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c4c3c3;
    --bs-btn-active-border-color: #c4c3c3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #c4c3c3;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #c4c3c3;
    --bs-gradient: none;
}

.btn-outline-main {
    --bs-btn-color: #ff1d48;
    --bs-btn-border-color: #ff1d48;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff1d48;
    --bs-btn-hover-border-color: #ff1d48;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff1d48;
    --bs-btn-active-border-color: #ff1d48;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ff1d48;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ff1d48;
    --bs-gradient: none;
}
.btn-outline-second{
    --bs-btn-color: #ff1d48;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #c4c3c3;
    --bs-btn-hover-color: #f51c44;
    --bs-btn-hover-bg: #eae9e9;
    --bs-btn-hover-border-color: #c4c3c3;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #e41a3f;
    --bs-btn-active-bg: #c4c3c3;
    --bs-btn-active-border-color: #a4a4a4;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fe395e;
    --bs-btn-disabled-bg: #c0c0c0;
    --bs-btn-disabled-border-color: #a8a8a8;
}

.img-user {
    width: 3rem;
    height: 3rem;
}

/* End Dashbaord section */

.bg-color {
    background-color: var(--custom-color);
}

.color {
    color: var(--custom-color) !important;
}

.color-always {
    color: var(--a-color) !important;
}

.border-color {
    border-color: var(--custom-color) !important;
}

.font-icon {
    font-size: var(--icon-size) !important;
}

.bg-custom {
    background-size: cover !important;
    background-position: center !important;
}

.hr {
    background-color: var(--custom-color);
    border: 0 none;
    height: 5px;
    border-radius: 25px;
}

.wishlist {
    position: absolute !important;
    right: 62%;
}

.bg-transparent {
    background-color: var(--c-transparent) !important;
}

.--font-18 {
    font-size: 18px !important;
}

.white-always>* {
    color: white !important;
}

.colored-always {
    background-color: var(--a-color);

}

.activity-zoom {
    overflow: hidden
}

.activity-zoom img {
    transition: transform .8s ease;
    overflow: hidden
}

.activity-zoom:hover img {
    transform: scale(1.5);
}


#footer>section>div>a:hover {
    color: rgb(255, 29, 72) !important;
    transition: .9s;
}

.reviews>.p-rating-option-active .p-rating-icon {
    width: 40px;
    height: 40px;
    cursor: default;
}

.reviews>.p-rating-option .p-rating-off-icon {
    width: 40px;
    height: 40px;
    color: var(--p-zinc-500);
    cursor: default;
}